<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beer-challenge" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Beer Challenge</name>
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="DisallowOverscroll" value="true"/>
    <description>
        http://beer-challenge.com
    </description>
    <author>
        Beer Challenge Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
    </feature>
</widget>
